extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span8 offset2")
					h1 Call Entry Log
					a(href="/admin") Return to Admin Console
					br
					a(href="/admin/callentries.csv") Download CSV
			div(class="row")
				div(class="span8 offset2")
					table(id="callentrylog")
						tr
							th Call Time/Date
							th In Service Time/Date
							th Call Type
							th Call Location
							th Call Destination
							th Truck
							th Driver Name
							th Primary Care
							th Additional Names
							th Run Number
						each callentry in callentries
							tr(class="callentryrow" onclick="location.href = '/admin/editcallentryform?entryid=#{callentry.callentryid}';")
								td #{callentry.timeofcall.toJSON().replace(/-/g,'/').replace(/T/g,' ').replace(/:\d\d.\d\d\dZ/g,'')}
								td #{callentry.timeinservice.toJSON().replace(/-/g,'/').replace(/T/g,' ').replace(/:\d\d.\d\d\dZ/g,'')}
								td=callentry.calltype
								td=callentry.calllocation
								td=callentry.calldestination
								td=callentry.truckname
								td=callentry.drivername
								td=callentry.primarycare
								td=callentry.additionalnames
								td=callentry.runnumber