extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			div(class="row")
				div(class="span12")
					h1 Delete Alert #{alert.alerttext}?
			div(class="row")
				div(class="span12")
					h2 Task Info 
					ul
						li Alert ID: #{alert.alertid}
						li Creator ID: #{alert.alertcreator}
						li Alert Text: #{task.alerttext}
						li Alert Time: #{task.alerttime}

			div(class="row")
				div(class="span3")
					form(name="deletealertprompt" action="/admin/deletealert" method="post")
						input(type="hidden", name="alertid", value="#{alert.alertid}")
						br
						input(type="submit", name="submit", value="Delete")
						br
						br
						div(class='button')
							a(href="/admin") Cancel
