extends layout

block content
	div(class="HomeContainer")
		div(class="Inner")
			h1 Report Generator
			div(id="pieselect")
				h2 Pie Chart Generator
				form(action="/reports/pie" method="get")
					label Pie Type
					select(name="pietype")
						option(value="calltype") Call Type
						option(value="calllocation") Call Location
						option(value="destination") Destination
						option(value="unit") Unit
						option(value="driver") Driver
						option(value="provider") Primary Care Provider
					input(type="submit", value="Generate")
			div(id="generalreportselect")
				h2 General Report Generator
				form(action"/reports/general" method="post")
					label Driver:
						select(name="drivers",multiselect)
							for name in names
								option(value="#{name}") #{name}
					br
					label Provider:
						select(name="provider", multiselect)
							for name in names
								option(value="#{name}") #{name}
					label Units:
						select(name="units", multiselect)
							for truck in trucks
								option(value="#{truck.truckname}") #{truck.truckname}
					label Call Types:
						select(name="calltypes", multiselect)
							option(value="Trauma") Trauma
							option(value="Medical") Medical
							option(value="Transfer") Transfer
							option(value="Motor Vehicle Accident") Motor Vehicle Accident
							option(value="SCT") SCT
							option(value="Paramedic Intercept") Paramedic Intercept
							option(value="Fire Standby") Fire Standby
							option(value="Mutual Aid") Mutual Aid
							option(value="Medical Alarm Activation") Medical Alarm Activation
							option(value="Public Assist") Public Assist
							option(value="Critical Care Transfer") Critical Care Transfer
					br
					label Call Locations:
						select(name="calllocations", id="calllocations", multiselect)
							option(value="Barnard") Barnard
							option(value="Bethel") Bethel
							option(value="Braintree") Braintree
							option(value="Brookfield") Brookfield
							option(value="East Granville") East Granville
							option(value="GMC - BC") GMC - BC
							option(value="GMC - ED") GMC - ED
							option(value="GMC - HP") GMC - HP
							option(value="Morgan Orchards") Morgan Orchards
							option(value="Granville") Granville
							option(value="Hancock") Hancock
							option(value="Pittsfield") Pittsfield
							option(value="Randolph") Randolph
							option(value="Rochester") Rochester
							option(value="Stockbridge") Stockbridge
							option(value="Other") Other
					br
					label Call Destination:
						select(name="calldestinations", id="calldestinations", multiselect)
							option(value="No Transport") No Transport
							option(value="GMC") GMC
							option(value="DHMC") DHMC
							option(value="CVMC") CVMC
							option(value="UVMMC") UVMMC
							option(value="PMC") PMC
							option(value="PRMC") PRMC
							option(value="VAMC") VAMC
							option(value="MAH") MAH
							option(value="Morgan Orchards") Morgan Orchards
							option(value="Home") Home
							option(value="Nursing Home") Nursing Home
							option(value="Landing Zone") Landing Zone
							option(value="Other Destination") Other Destination
